.vedikj{
    height: 92vh;
    width: 100vw;
    background-image: url("bc12.jpg");
    background-size: cover;

}
.c4{
    font-size: 50px;
    font-family: cursive;
    color: brown;
    border: 3px solid black;
}
.ct{
    color: black;
    padding-top: 15px;
    font-size: 40px;
    font-family: cursive

}
.cn{
    padding-top: 20px;
    font-size: 25px;

}
.em{
    padding-top: 10px;
    font-size: 25px;
}

.ad{
    padding-top: 10px;
    font-size: 25px;
}
